server {
  listen 80;
  listen [::]:80;
  server_name colortile.kro.kr 3.26.178.31 _;

  include /etc/nginx/conf.d/color-game-locations.inc;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name colortile.kro.kr;

  ssl_certificate /etc/letsencrypt/live/colortile.kro.kr/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/colortile.kro.kr/privkey.pem;
  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_session_cache shared:ColorGameTLS:10m;
  ssl_session_timeout 1d;

  include /etc/nginx/conf.d/color-game-locations.inc;
}
